<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:~/advanceticketsale;DB_CLOSE_DELAY=-1;MVCC=true;FILE_LOCK=NO</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!--property name="connection.username">postgres</property>
        <property- name="connection.password">postgres</property-->
        <property name="hbm2ddl.auto">create-drop</property>

        <!--
            validate:    validate the schema, makes no changes to the database.
            update:      update the schema.
            create:      creates the schema, destroying previous data.
            create-drop: drop the schema when the SessionFactory is closed explicitly,
                         typically when the application is stopped.
         -->

        <property name="hibernate.current_session_context_class">thread</property>


        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.LocationSeat"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.LocationRow"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.EventCategory"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.EventOccurrence"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Event"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Client"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Organizer"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Ticket"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Address"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.TicketStates"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.Artist"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.ClientRole"/>
        <mapping class="at.fhv.itb17.s5.teamb.persistence.entities.MsgTopic"/>
    </session-factory>
</hibernate-configuration>
